@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5348ea;
  --color-primary-hover: #4338ca;
  
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;

  --color-success-bg: var(--color-emerald-100);
  --color-success-text: var(--color-emerald-700);
  
  --color-warning-bg: var(--color-amber-100);
  --color-warning-text: var(--color-amber-700);
  
  --color-error-bg: var(--color-rose-100);
  --color-error-text: var(--color-rose-700);
  
  --color-surface: #ffffff;
  --color-background: #f9fafb;
}

:root {
  --background: var(--color-background-light);
  --foreground: #0f172a;
}

.dark {
  --background: var(--color-background-dark);
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
}
