@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-600);
  --color-primary-hover: var(--color-indigo-700);
  
  --color-success-bg: var(--color-emerald-100);
  --color-success-text: var(--color-emerald-700);
  
  --color-warning-bg: var(--color-amber-100);
  --color-warning-text: var(--color-amber-700);
  
  --color-error-bg: var(--color-rose-100);
  --color-error-text: var(--color-rose-700);
  
  --color-surface: #ffffff;
  --color-background: #f9fafb;
}

:root {
  --background: #f9fafb;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
}
